{
  "extends": "airbnb",
  "plugins": [
  ],
  "env": {
    "node": true,
    "mocha": true,
  },
  "rules": {
    "prefer-rest-params": 0,
    "strict": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
  }
}
